<ion-content  color="primary">

  <ion-row class="ion-justify-content-center ion-align-items-center" style="height: 100vh;">
    <ion-card class="ion-padding" style="width: 80%">
      <div class="ion-text-center">
        <img src="assets/images/logo.png" style="width: 100px;">
      </div>
      <form>
        <ion-item lines="full">
          <ion-label position="floating">ชื่อ-สกุล <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required type="text" name="fullname" [(ngModel)]="userData.fullname"></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="floating">อีเมล์ <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required type="text" name="email" [(ngModel)]="userData.email"></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="floating">โทรศัพท์ <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required type="tel" name="tel" [(ngModel)]="userData.tel"></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="floating">รหัสผ่าน <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required  type="password" name="password" [(ngModel)]="userData.password"></ion-input>
        </ion-item>

        <!-- {{ userData | json }} -->

        <ion-row>
          <ion-col>
            <ion-button block color="primary" type="submit" expand="block" (click)="submitRegister()">ลงทะเบียน</ion-button>
            <div class="ion-text-center ion-margin-vertical">เป็นสมาชิกอยู่แล้ว <a [routerLink]="['/login']">เข้าสู่ระบบ</a></div>
          </ion-col>
        </ion-row>

      </form>
    </ion-card>
  </ion-row>

</ion-content>
