<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab-home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>หน้าหลัก</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab-report">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-label>รายงาน</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab-notification">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>แจ้งเตือน</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab-setting">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>ตั้งค่า</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab-account">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>ฉัน</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>