<ion-content color="primary">

  <ion-row class="ion-justify-content-center ion-align-items-center" style="height: 100vh;">
    <ion-card class="ion-padding" style="width: 80%">
      <form>
        <ion-item lines="full">
          <ion-label position="floating">อีเมล์ที่ใช้ลงทะเบียน <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required type="text"></ion-input>
        </ion-item>
        <ion-row>
          <ion-col>
            <ion-button block color="primary" type="submit" expand="block">ส่งข้อมูลทางอีเมล์</ion-button>
            <div class="ion-text-center ion-margin-vertical">กลับเข้าสู่ระบบ <a [routerLink]="['/login']">คลิ๊กที่นี่</a></div>
          </ion-col>
        </ion-row>

      </form>
    </ion-card>
  </ion-row>

</ion-content>
