<ion-header>
  <ion-toolbar color="primary">
    <ion-title>MiniStock</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="segnav">
      <ion-segment-button value="instocks">
        <ion-label>IN STOCK</ion-label>
      </ion-segment-button>
      <ion-segment-button value="products">
        <ion-label>PRODUCTS</ion-label>
      </ion-segment-button>.
      <ion-segment-button value="invoices">
        <ion-label>INVOICES</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div [ngSwitch]="segnav">
    <div *ngSwitchCase="'instocks'">

      <ion-slides mode="md" pager="md" scrollbar="md" [options]="slideOption" autoplay=3000 loop>
        <ion-slide>
          <img src="assets/images/slide1.jpg">
        </ion-slide>
        <ion-slide>
          <img src="assets/images/slide2.jpg">
        </ion-slide>
        <ion-slide>
          <img src="assets/images/slide3.jpg">
        </ion-slide>
      </ion-slides>

      <div class="ion-padding">
        <!--Menu-->
        <ion-grid>
          <ion-row>
            <ion-col class="box-cq">
              <ion-icon name="logo-apple-appstore"></ion-icon>
              Store
            </ion-col>
            <ion-col class="box-cq">
              <ion-icon name="compass"></ion-icon>
              Compass
            </ion-col>
            <ion-col class="box-cq">
              <ion-icon name="sunny"></ion-icon>
              Weather
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box-cq">
              <ion-icon name="map"></ion-icon>
              Maps
            </ion-col>
            <ion-col class="box-cq">
              <ion-icon name="cube"></ion-icon>
              Cube
            </ion-col>
            <ion-col class="box-cq">
              <ion-icon name="pie-chart"></ion-icon>
              Chart
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="box-cq">
              <ion-icon name="camera"></ion-icon>
              Camera
            </ion-col>
            <ion-col class="box-cq">
              <ion-icon name="qr-code"></ion-icon>
              QRCode
            </ion-col>
            <ion-col class="box-cq">
              <ion-icon name="notifications"></ion-icon>
              Notification
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

    </div>

    <div class="ion-padding" *ngSwitchCase="'products'">
      <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <ion-list>

        <ion-item *ngFor="let product of productData" (click)="showProductDetail(product.id)">
          <ion-avatar slot="start">
            <img src="http://localhost/ministock_restapi/public/images/stock/{{product.product_image}}">
          </ion-avatar>
          <ion-label>
            <h2>{{ product.product_name }}</h2>
            <h3>{{ product.product_barcode }}</h3>
            <p>{{ product.product_detail }}</p>
          </ion-label>
        </ion-item>
       
      </ion-list>
    </div>

    <div class="ion-padding" *ngSwitchCase="'invoices'">
      <h1>Invoices content...</h1>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum quibusdam eveniet ab culpa reiciendis ex, aliquam, ipsam porro nemo suscipit minima reprehenderit animi maiores sapiente natus hic aperiam dolorum sequi.</p>
    </div>
  </div>

</ion-content>
