.box-cq{
    height: 100px;
    background-color: rgb(20,122,140);
    text-align: center;
    padding-top: 20px;
    color: #fff;
    border-radius: 5px;
    margin: 5px;
}

ion-icon {
    font-size: 40px;
    display: block;
    color: #fff;
    margin-left: auto;
    margin: auto;
}